@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Graphik;
    src: url(/fonts/GraphikRegular.otf);
    font-display: swap;
  }
  @font-face {
    font-family: Graphik;
    src: url(/fonts/GraphikMedium.otf);
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: Graphik;
    src: url(/fonts/GraphikBold.otf);
    font-weight: 700;
    font-display: swap;
  }

  body {
    @apply text-purple;
  }
  h1 {
    @apply text-5xl font-medium;
  }
  h2 {
    @apply text-4xl lg:font-medium text-purple leading-tight lg:text-[40px];
  }
  h3 {
    @apply text-2xl font-medium;
  }

  a,
  button {
    transition: all 300ms;
  }
}
.swiper-slide {
  height: auto !important;
  align-self: stretch !important;
}
.swiper-pagination-bullet {
  @apply !bg-gray-400 inline-block !mx-2;
}
.swiper-pagination-bullet-active {
  @apply !bg-purple;
}

.problem--swiper .swiper-pagination-bullet {
  @apply h-[2px] w-5 rounded-none;
}

.problem--swiper .swiper-pagination {
  bottom: -40px !important;
}
